@page "/"
@inject IJSRuntime JSRuntime

<div>
    <button @onclick="ChangeGraph">Change Graph</button>
</div>

<div class="mermaid" id="my-graph"></div>

@code {
    private async Task ChangeGraph()
    {
        var graph = GenerateRandomGraph();
        await SetMermaid(graph);
    }

    private string GenerateRandomGraph()
    {
        /* generate something random like this:
        graph TD
            A-->B
            B-->C
            B-->D
            C-->D
        */
        var states = new [] { "A", "B", "C", "D" };
        var lines = string.Join("\n  ", Enumerable.Repeat(4, 6).Select(x => $"{states[Random.Shared.Next(x)]}-->{states[Random.Shared.Next(x)]}"));
        return "graph TD\n  " + lines;
    }
    private async Task SetMermaid(string graph) =>
        await JSRuntime.InvokeVoidAsync("mermaidReload", "my-graph", graph);
}
