@page "/"

@using Microsoft.AspNetCore.SignalR.Client
@using Mermaid.Shared

@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

@implements IAsyncDisposable
@implements IClientHub
@implements IServerHub

<div>
    <button @onclick="ChangeGraph">Change Graph</button>
</div>

<div class="form-group">
    <label>
        Current State:
        <input @bind="_userInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!CanSendMessage)">Update</button>

<div class="mermaid" id="my-graph"></div>

@code {
    private string _graph = GenerateRandomGraph();
    private string? _userInput;
    private HubConnection? _hubConnection;

    protected override async Task OnParametersSetAsync()
        => await ChangeGraph();

    private bool CanSendMessage
        => _hubConnection?.State == HubConnectionState.Connected && _userInput != null;

    private async Task ChangeGraph()
        => await UpdateGraph(_graph = GenerateRandomGraph(), _userInput ?? "A");

    private async Task UpdateGraph(string graph, string currentState)
        => await SetMermaid(graph += $"\n  style {currentState} fill:#f9f");

    private static string GenerateRandomGraph()
    {
        /* generate something random like this:
        graph TD
            A-->B
            B-->C
            B-->D
            C-->D
        */
        var states = new [] { "A", "B", "C", "D" };
        var lines = string.Join("\n  ", Enumerable.Repeat(4, 6).Select(x => $"{states[Random.Shared.Next(x)]}-->{states[Random.Shared.Next(x)]}"));
        return "graph TD\n  " + lines;
    }

    public ValueTask DisposeAsync()
        => _hubConnection?.DisposeAsync() ?? ValueTask.CompletedTask;

    public async Task ReceiveMessage(string message)
        => await UpdateGraph(_graph, message);

    private Task Send()
        => SendMessage(_userInput!);

    public Task SendMessage(string message)
        => _hubConnection?.SendAsync(nameof(SendMessage), message) ?? Task.CompletedTask;

    private async Task SetMermaid(string graph)
        => await JSRuntime.InvokeVoidAsync("mermaidReload", "my-graph", graph);

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5111/chathub")
            .Build();

        _hubConnection.On<string>(nameof(ReceiveMessage), ReceiveMessage);

        await _hubConnection.StartAsync();
    }
}
